

  <nav class="teal darken-3" role="navigation">
    <div class="nav-wrapper nav-container"><a id="logo-container" href="#" class="small-caps brand-logo">Kubit</a>
      <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['Homepage']">Homepage</a></li>
        <li><a [routerLink]="['User']">User</a></li>

        <li> <a [routerLink]="['StorageSpot']">Storage Spot</a></li>
         <li> <a [routerLink]="['MySlate']">My Slate</a></li>
        <li> <a href="student_eca.html">CCA/ECA</a></li>
        <li> <a href="student_exam.html">Exam Schedule</a></li>  
      </ul>
     
    </div>
  </nav>

<router-outlet></router-outlet>

